

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Something is wrong</h4>
  <p>{{this.detailed_message}}.</p>
  <hr>
  <p class="mb-0">Please check your info and try again.</p>
   <div class="card-bdy">
        <a class="btn btn btn-outline-danger" href="/" role="button">Go home</a>
    </div>
</div>