  <!--==========================
  Header
  ============================-->


  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to CCloud</h1>
      <h2>On this platform yu can upload your personal files assuring the security. We use the actual standards.</h2>
      <a href="/authentication/register" class="btn-get-started">Register</a>
      <a href="/authentication/login" class="btn-get-started">Login</a>
    </div>
  </section><!-- #hero -->

  <main id="main">


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Cryptographic services</h3>
          <p class="section-description">Our system is based on the actual algorithms to assure the security of your file</p>
        </div>
        <div class="row">
          <div class="col-lg-6col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-unlock-alt"></i></a></div>
              <h4 class="title"><a href="">Confidetiality</a></h4>
              <p class="description">To provide you the integrity service we use the AES algorithm. Only the users who has the keys for cipher and decipher the file will can open the document. Every document is ciphered on the cloud.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-space-shuttle"></i></a></div>
              <h4 class="title"><a href="">Integrity</a></h4>
              <p class="description">We use the IMAC algorith to assure that the file was not modified during the transmision</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-user"></i></a></div>
              <h4 class="title"><a href="">Authentication</a></h4>
              <p class="description">Our system use a login for access to the files. When you send your password, the page generate a SHA256 hash before to transmit. So, if any person intercept your password, she can not do anything for recover the original one.</p>
            </div>
          </div>



      </div>
    </section><!-- #services -->



    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">The development team is integrated by</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <h4>Guillermo Naranjo Ferrer</h4>
              <span>Programmer, designer</span>
              <div class="social">
                <a href="https://github.com/Me0089mo"><i class="fa fa-github"></i></a>
                <a href="https://web.facebook.com/guiby.naranjo"><i class="fa fa-facebook"></i></a>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <h4>Víctor Morales Flores</h4>
              <span>Programmer, designer</span>
              <div class="social">
                <a href="https://github.com/vicleo14"><i class="fa fa-github"></i></a>
                <a href="https://web.facebook.com/vcitor.moralesflores"><i class="fa fa-facebook"></i></a>
              </div>

            </div>
          </div>
<!--
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-3.jpg" alt=""></div>
              <h4>David Chávez Rodríguez</h4>
              <span></span>
              <div class="social">
                <a href=""><i class="fa fa-github"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>

-->

      </div>
    </section><!-- #team -->



  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>
<!--
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CCloud</strong>. All Rights Reserved
      </div>
      <div class="credits">-->
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>--><!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
