<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CCloud</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/upload-file">Upload File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/my-requests">My Key Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/my-files">My files</a>
      </li>
     
    </ul>
  </div>
</nav>