<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Thanks for advise us!</h4>
  <p>For us is very important to assure the security of your files. For that the system will automatically change the stored keys and cipher your file with the new ones. Dont worry, we will advise to each person who has access to this document</p>
  <hr>
  <p class="mb-0">For get the new key you nedd to begin the request process trough the platform.</p>
</div>