<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">The request key has begin</h4>
  <p>For us is very important to assure the security of your files.</p>
  <hr>
  <p class="mb-0">For get the new key you need to continue the request process trough the platform providing us your personal code sended to your email. We will contact you by your email account. Please check your inbox</p>
  <div class="card-bdy">
        <a class="btn btn btn-outline-warning" href="/" role="button">Go home</a>
    </div>
</div>