<script src="/js/uf.js"></script>
<script >
    function sendData()
    {
        
        var petition=new XMLHttpRequest;
        petition.open("POST","http://localhost:3000/user/upload-file");
        petition.setRequestHeader("Content-Type", "application/json");
        var data=JSON.stringify(infoContainer);
        console.log(data);
        console.log(data.length);
        petition.send(data);
    }
</script>
<div class="container p-12">
    <div class="div">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/user/upload-file" method="POST" id="uploadFile">
                        
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02" name="file" onchange="uploadFile(this.files)">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                        
                        </div>
                       
                    <div class="card" id="macTagView">
                        <div class="card-body">
                            The MAC tag:
                        </div>
                    </div>
                    
                    
                    </form>
                    <div class="form-group">
                        <button class="btn btn-success btn-block" onclick="sendData()">Send file</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>