<script src="/js/uf.js"></script>
<script >
    window.onload=function()
    {
        var petition=new XMLHttpRequest;
        petition.open("POST","http://localhost:3000/user/public-key");
        petition.send();
        petition.onreadystatechange=function()
        {
            if(petition.readyState==4 )
            {
                window.pubKey=petition.response;
            }
        }
    }
    function sendData()
    {
        
        var petition=new XMLHttpRequest;
        petition.open("POST","http://localhost:3000/user/upload-file");
        petition.setRequestHeader("Content-Type", "application/json");
        var data=JSON.stringify(infoContainer);
        //console.log(data);
        //console.log(data.length);
        petition.send(data);
        petition.onreadystatechange=function()
        {
            if(petition.readyState==4 )
            {
                petition.abort();
                console.log("Peticion terminada");
                alert("Thanks, your file is now throgh our servers =)");
                document.getElementById("sendButton").classList.add("disabled");
                document.getElementById("linkMac").classList.add("disabled");
                document.getElementById("linkKey").classList.add("disabled");
            }
        }
    }
</script>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Hi !</h4>
  <p>For a securely upload of your file we'll cipher it before send it to our server. To do this we need two keys that your computer 
      will generate. Once you select your file, a MAC tag will be generated and we use this to assure your file was not modified trhough the web. When you want to download the file we will ask you both keys so save it in a secure place please :).
  </p>
  <hr>
  <p class="mb-0">
      Follow the next steps to upload a file:
      <ol>
          <li>Select the file you want to upload</li>
          <li>Your computer will cipher the file, be patient please!</li>
          <li>Once the file is processed you will see the value of your MAC tag and now you are able to download your keys by clicking on each button.</li>
          <li><b>TIP: Once you storage your keys, you can change the file name to identify it but do not change the extension</b></li>
          <li>Now it is time to send the file. Now no one without the keys can see the original content. :)</li>
          <li>When all the files arrive to us your work will be finished. Now you can take a break. We will save your file in a secure way</li>
      </ol>
      
  </p>
</div>
<div class="container p-12">
    <div class="div">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/user/upload-file" method="POST" id="uploadFile">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="file" onchange="uploadFile(this.files)">
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                            </div>
                        </div>
                        <a href="#" id="linkMac" download="macKey.drc" class="btn btn-primary btn-lg btn-block disabled">Download MAC key</a>
                        <br \>
                        <a href="#" id="linkKey" download="cipherKey.vmf"  class="btn btn-primary btn-lg btn-block disabled">Download cipher/decipher Key</a>
                
                    <div class="card" id="macTagView" >
                        <div class="card-body">
                            The MAC tag:
                        </div>
                    </div>
                    
                    
                    </form>
                    <div class="form-group">
                        <button id="sendButton" class="btn btn-success btn-lg btn-block disabled" onclick="sendData()">Send file</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>